<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Placeholder Title</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		html, body {
			background-color: black;
		}
    </style>

  </head>
  
  <body>
	<div class="containerLogin">
		<div class="row">
			<div class="col col-offset">
				<form method=POST action="{{ url_for('changePassword') }}">
					<div class="form-group">
						{{ passwordForm.csrf_token }}
						<ul>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								{% for message in messages %}
									<li class="content3"> {{ message }} </li>
								{% endfor %}
							{% endif %}
						{% endwith %}
						</ul>
						<ul>
							{% for error in passwordForm.oldPassword.errors %}
								<li class="content3">{{ error }}</li>
							{% endfor %}
						</ul>
						{{ passwordForm.oldPassword.label(class_="content2") }}
						{{ passwordForm.oldPassword(class_="form-control") }}
					</div>
					
					<div class="form-group">
						<ul>
							{% for error in passwordForm.newPassword.errors %}
								<li class="content3">{{ error }}</li>
							{% endfor %}
						</ul>
						{{ passwordForm.newPassword.label(class_="content2") }}
						{{ passwordForm.newPassword(class_="form-control") }}
					</div>
					
					<div class="form-group">
						{{ passwordForm.confirmNewPassword.label(class_="content2") }}
						{{ passwordForm.confirmNewPassword(class_="form-control") }}
					</div>
					<button type="submit" value="Submit" class="button2">Change Password</button>
				</form>
				<button class="button2" onclick="location.href='{{ url_for('profile') }}';">Cancel</button>
				<br>
					<p class="content2">Click <a class="link4" href="{{ url_for('profile') }}">here</a> to return to profile. </p>
			</div>
		</div>
	</div>
  </body>
  
</html>