<!DOCTYPE html>
<!-- Game page, the game itself is loaded on this page -->
<html>

  <head>
    <meta charset="UTF-8">
    <title>MageCraft</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		canvas {
			background-color: black;
			width: 100%;
			height: 100%;
		}
		
		html, body {
			overflow: hidden;
			background-color: black;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
		}
		
		.chatbox {
			position: fixed;
			left: 0;
			bottom: 0;
		}
		
		.playerCordsDiv {
			position: fixed;
			right: 0;
			bottom: 0;
			background-color: green;
		}
    </style>

  </head>
  
  <body>
	<label id="fpsLabel"></label>
	<button type="button" id ="pausebtn" class="pausebtn">Menu</button>
	<button type="button" id ="faqbtn" class="faqbtn">Help</button>
	<canvas id="myCanvas"></canvas>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/socketio_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/jquery_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/babylon.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/babylon_gui_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/cannon_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/lava_material.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/fire_procedural_texture.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/water_material.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/background.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player_grid.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/tutorial.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player_ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/menu.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/game.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/babylon_inspector_bundle.js') }}"></script>
	
	<!-- multiplayer chat, displays all messages -->
	<div class="chatbox">
		<ul id="messages"></ul>
		<input type="text" id="myMessage">
		<button id="sendbutton">Send</button>
	</div>
	
	<!--div class="playerCordsDiv">
		<span id="playerCords" class="content">Move the mouse!</span>
	</div-->
	
	<!-- alert box for uploading gold -->
	<div class="alert" id="alert">
	  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
	  <label id="alertLabel"></label>
	</div>
	
	<!-- game over menu pops up when the player dies -->
	<div class="game-over" id="game-over">
		<label style="text-decoration: underline">GAME OVER</label>
		<table>
			<tr>
				<th>Gold Earned:</th>
				<th><label id="goldEarned"></label></th>
			</tr>
			<tr>
				<td onclick="restart()">Restart</td>
			</tr>
			<tr>
				<td onclick="upload()">Upload</td>
			</tr>
			<tr>
				<td><a class="link6" href="{{ url_for('index') }}">Main Menu</a></td>
			</tr>
		</table>
	</div>
	
	<!-- paused menu -->
	<div class="paused-menu" id="paused-menu">
		<label style="text-decoration: underline">Game Paused</label>
		<table>
			<tr>
				<td onclick="resume()">Resume</td>
			</tr>
			<tr>
				<td onclick="restart()">Restart</td>
			</tr>
			<tr>
				<td onclick="muteMusic()">Mute Music</td>
			</tr>
			<tr>
				<td><a class="link6" href="{{ url_for('index') }}">Main Menu</a></td>
			</tr>
		</table>
	</div>
	
	<script type="text/javascript">
	$(document).ready(function() {
		var socket = io.connect('http://127.0.0.1:5000');
		
		//on connection
		socket.on('connect', function(){
			socket.send('User has connected!');
		});
		
		//chat, append message to chatbox
		socket.on('message', function(msg) {
			$("#messages").append('<li>'+msg+'</li>');
			console.log("Received message!")
		});
		
		//chat button, send message
		$('#sendbutton').on('click', function(){
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
		});
		
		//menu button, pauses the game and opens the menu
		$('#pausebtn').on('click', function(){
			pausedMenu();
		});
		
		//help button, redirects to faq page
		$('#faqbtn').on('click', function(){
			window.location.replace('http://127.0.0.1:5000/FAQ');
		});
		
		//send gold val to server
		//which then saves it in the database assuming the player is logged in
		upload = function(){
			socket.emit('upload', gold);
		}//upload
		
		socket.on('uploadResult', function(result) {
			//display the alert box
			document.getElementById("alert").style.display = "block";
		
			//if upload is successful display this message
			if(upload == "success"){
				document.getElementById('alertLabel').innerHTML = '<Strong>Success</Strong>';
			}//if
			//otherwise display this message
			else {
				document.getElementById('alertLabel').innerHTML = '<Strong>Failed!</Strong> Please log in!';
			}//else
		});
	});
	</script>
  </body>
  
</html>