<!DOCTYPE html>
<!-- Game page, the game itself is loaded on this page -->
<html>

  <head>
    <meta charset="UTF-8">
    <title>MageCraft</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		canvas {
			background-color: black;
			width: 100%;
			height: 100%;
		}
		
		html, body {
			overflow: hidden;
			background-color: black;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
		}
		
		.chatbox {
			position: fixed;
			left: 0;
			bottom: 0;
		}
		
		.playerCordsDiv {
			position: fixed;
			right: 0;
			bottom: 0;
			background-color: green;
		}
    </style>

  </head>
  
  <body>
	<label id="fpsLabel"></label>
	<canvas id="myCanvas"></canvas>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/socketio_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/jquery_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/babylon.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/cannon_min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/lava_material.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/fire_procedural_texture.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/background.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player_grid.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/player_ui.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/game.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resources/scripts/babylon_inspector_bundle.js') }}"></script>
	<!--div class="chatbox">
		<ul id="messages"></ul>
		<input type="text" id="myMessage">
		<button id="sendbutton">Send</button>
	</div-->
	
	<div class="playerCordsDiv">
		<span id="playerCords" class="content">Move the mouse!</span>
	</div>
	<script type="text/javascript">
	/*
	//gets a handle to the element with id myCanvas
	var canvas = document.getElementById("myCanvas");
	//get a 2D context for the canvas
	var ctx = canvas.getContext("2d");
	
	var clientCoords;
	var topPos = canvas.offsetTop;
	var leftPos = canvas.offsetLeft;

	function player(x,y) {
		this.x = x;
		this.y = y;
		
		this.draw = function(){
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.beginPath();
			ctx.fillStyle = "orange";
			ctx.rect(this.x, this.y, 150, 80);
			ctx.fill();
		}
	}
	
	p = new player(50, 50);
	p.draw();
	
	
	//hide the default menu that appears when you right click in a browser
	//disabling this allows me to use right click as a keybind for player movement
	canvas.oncontextmenu = function (e) {
		e.preventDefault();
	};
	
	$(document).ready(function() {
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
		var socket = io.connect('http://127.0.0.1:5000');
		
		socket.on('connect', function(){
			socket.send('User has connected!');
		});
		
		socket.on('message', function(msg) {
			$("#messages").append('<li>'+msg+'</li>');
			console.log("Received message!")
		});
		
		$('#sendbutton').on('click', function(){
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
		});
		
		window.addEventListener("keypress", function(event) { 
		  //log the event to the console
		  console.log(event);
		});
		
		//keypresses with jQuery
		$(document.body).on('keydown', function(e) {
		  console.log(e.which);
		  switch (e.which) {
		  //key code for left arrow
		  case 37:
			  socket.emit('leftArrow', "pressed left arrow");
			  break;
			  
		  //key code for up arrow
		  case 38:
			  socket.emit('upArrow', "pressed up arrow");
			  break;
		  //key code for right arrow
		  case 39:
			 socket.emit('rightArrow', "pressed right arrow");
			  break;
			  
		  //key code for down arrow
		  case 40:
			  socket.emit('downArrow', "pressed down arrow");
			  break;
		  }
		});
		
		socket.on('leftArrow', function(msg) {
			console.log(msg);
			p.x -= 5;
			p.draw();
		});


		socket.on('upArrow', function(msg) {
			console.log(msg);
			p.y -= 5;
			p.draw();
		});

		socket.on('rightArrow', function(msg) {
			console.log(msg);
			p.x += 5;
			p.draw();
		});

		socket.on('downArrow', function(msg) {
			console.log(msg);
			p.y += 5;
			p.draw();
		});
		
		socket.on('movedX', function(data) {
			console.log("X cord is: "+ data);
			p.x = data;
		});
		
		socket.on('movedY', function(data) {
			console.log("Y cord is: "+ data);
			p.y = data;
			p.draw();
		});
		
		//track the player's mouse location
		$( 'canvas' ).mousemove(function( event ) {
		  //var pageCoords = "( " + event.pageX + ", " + event.pageY + " )";
		  clientCoords = "( " + event.clientX + ", " + event.clientY + " )";
		  //$( "#playerCords" ).text( "( event.pageX, event.pageY ) : " + pageCoords );
		  $( "#playerCords" ).text( "( event.clientX, event.clientY ) : " + clientCoords );
		});
		
		$( 'canvas' ).mousedown(function( event ) {
			switch (event.which) {
				case 1:
					console.log("Left mouse button pressed" + clientCoords);
					//just draw the object at the new location
					//p.x = event.clientX - leftPos;
					//p.y = event.clientY - topPos;
					//p.draw();
					//socket.emit('moved', data = (event.clientX));
					socket.emit('moved', event.clientX - leftPos, event.clientY - topPos);
					break;
				case 2:
					console.log("Middle mouse button pressed" + clientCoords);
					break;
				case 3:
					console.log("Right mouse button pressed" + clientCoords);
					break;
				default:
					console.log("You have a strange mouse!")
			}
		});
	});
	
	/*
	function init(){
		p.draw();
	}
	
	requestAnimationFrame(init);
	*/
	</script>
  </body>
  
</html>