<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Placeholder Title</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		html, body {
			background-color: black;
		}
    </style>

  </head>
  
  <body>
	<p class="title"> Login Successful! Hello {{ session['username'] }}.</p>
	<p class="content2"> {{ displayMessage }} </p>
  </body>
  
</html>