<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Placeholder Title</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		html, body {
			background-color: black;
		}
    </style>

  </head>
  
  <body>
	<div class="containerLogin">
		<div class="row">
			<div class="col col-offset">
				<p class="content2"> {{ displayMessage }} </p>
				<form method=POST action="{{ url_for('resetPassword') }}">
					<div>
					<!-- Flashing message, if message exists and loop -->
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<h3 class="content2"> {{ message }} </h3>
							{% endfor %}
						{% endif %}
					{% endwith %}
					</div>
					<div class="form-group">
						<label for="resetPassword"><span class="content2">Username:</span></label>
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<button type="submit" class="button2">Reset Password</button>
				</form>
				<button class="button2" onclick="location.href='{{ url_for('index') }}';">Cancel</button>
				<br>
			</div>
		</div>
	</div>
  </body>
  
</html>